$root-font-size: 100%; // 1rem = 16px
//$root-font-size: 62.5%; // 1rem = 10px
$body-max-width: 34rem;

$color-primary: blue;
$color-accent: orange;
$color-main: black;
$color-secondary: gray;
$color-safe: green;
$color-danger: red;


$indent-small: 0.4rem;
$indent: 0.8rem;
$indent-large: 1.2rem;

$border-radius: 0.2rem;
$box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
