
.app-button {
  @include style-button($color-accent);

  padding: $indent-small;
  border-style: solid;
  border-width: 0.1rem;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &.app-button--primary {
    @include style-button($color-primary);
  }

  &.app-button--danger {
    @include style-button($color-danger);
  }
}

